@using Cybersec.Domain.Entities
@model List<ArticleViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Articles";
}

<div class="searchbar2 mb-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
                <img src="~/Images/search.png" class="icn srchicn" alt="search-button">
            </button>
        </div>
    </div>
</div>
<div class="add-button">
    <a href="@Url.Action("Create", "Article")" class="">New Article</a>
</div>
<div class="container mt-5">
    <div class="col-md-12">
        @foreach (var article in Model)
        {
            var firstImage = article.Blocks
            .OfType<ImageBlockViewModel>()
            .FirstOrDefault()?.ImageFilePath ?? "logo.jpg";

            var description = article.Blocks.OfType<TextBlock>().FirstOrDefault()?.Text ?? article.Title;

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3">
                        <img src="@Url.Action("GetImage", "Media", new { fileName = firstImage })" class="img-fluid h-100" style="object-fit: cover;" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">
                                <i class="fa-solid fa-box-archive"></i> @article.Category |
                                <i class="fa-solid fa-clock"></i> @article.CreatedAt.ToString("MMM d, yyyy")
                            </p>
                            <h5 class="card-title">@article.Title</h5>
                            <p class="card-text">
                                @if (description.Length > 100)
                                {
                                    @description.Substring(0, 100);
                                }
                                else
                                {
                                    @description
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex flex-column justify-content-center">
                        <a href="@Url.Action("Details", "Article", new { id = article.Id })" class="btn btn-primary mb-2">View</a>
                        <a href="@Url.Action("Edit", "Article", new { id = article.Id })" class="btn btn-warning mb-2">Edit</a>
                        <a href="@Url.Action("Delete", "Article", new { id = article.Id })" class="btn btn-danger mb-2">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
