@using Cybersec.Api.ViewModels
@model ArticleDetailsViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.ArticleViewModel.Title;
}

<div class="container mt-5">
    <div class="article-details2 text-center">
        <h1 class="title font-weight-bold article-title">@Model.ArticleViewModel.Title</h1>
        <h4 class="category font-weight-bold mt-3">@Model.ArticleViewModel.Category</h4>
        <p class="date text-muted">@Model.ArticleViewModel.CreatedAt.ToString("MMM d, yyyy")</p>

        <div class="content mt-5">
            @foreach (var block in Model.ArticleViewModel.Blocks.OrderBy(b => b.Order))
            {
                if (block is TextBlockViewModel textBlock)
                {
                    <p class="text-block mt-3 article-text" id="description">@textBlock.Text</p>
                }
                else if (block is ImageBlockViewModel imageBlock)
                {
                    <img src="@Url.Action("GetImage", "Media", new { fileName = imageBlock.ImageFilePath })" class="img-fluid mt-3" />
                }
                else if (block is VideoBlockViewModel videoBlock)
                {
                    <video src="@Url.Action("GetVideo", "Media", new { fileName = videoBlock.VideoFilePath })" controls class="img-fluid mt-3"></video>
                }
                else if (block is CodeBlockViewModel codeBlock)
                {
                    <pre class="code-block mt-3 code-text"><code>@codeBlock.Code</code></pre>
                }
            }
        </div>
        <div style="width: 100%;">
            <div class="detail-actions">
                <button class="views">
                    @Model.ArticleViewModel.ViewCount views
                </button>
                <div style="display: flex; gap: 20px;">
                    <button class="comment-btn" id="comment-btn">
                        Comments
                    </button>
                    <a href="@Url.Action("LikedArticle", "Home", new { articleId = Model.ArticleViewModel.Id,isLiked = Model.isLiked })" id="like-btn" class="views">
                        @if (!Model.isLiked)
                        {
                            <img id="like-image" src="~/SiteImages/like.svg" alt="Like Button" />
                        }
                        else
                        {
                            <img id="like-image" src="~/SiteImages/like2.svg" alt="Like Button" />
                        }
                        @Model.LikesCount
                    </a>
                </div>

            </div>
            <div class="comments">
               <div style="display:flex; align-items: center;">
                    <img width="50px" height="50px;" style="border-radius: 50%; margin-right: 20px;" src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.webp?s=2048x2048&w=is&k=20&c=X7M3yQkbRq7zIsY16tuaHy8Wu_oo5j-Hp8Uqe7wWxDY=" alt="Alternate Text" />
                    <p class="comment-text">Matn kiritishning har ikki tomoniga matn, tugmalar yoki tugma guruhlari, maxsus tanlovlar va maxsus fayl kiritishlari qoʻshish orqali shakl boshqaruvlarini osongina kengaytiring.</p>
               </div>
                @* @await Html.PartialAsync("_CommentPartial") *@
            </div>
        </div>
    </div>
</div>