@model HelperViewModel

@{
    Category? category = ViewBag.Category as Category?;
    ViewData["Title"] = "Bosh sahifa";
}

<div class="container mt-5 row">
    <div class="col-md-8">
        <h3 class="text-white">@category</h3>

        @foreach (var article in Model.leftSide.Reverse())
        {
            var firstImage = article.Blocks
            .OfType<ImageBlock>()
            .FirstOrDefault()?.ImageFilePath ?? "logo.jpg";
            var firstImageUrl = "~/Images/" + firstImage;
            var description = article.Blocks.OfType<TextBlock>().FirstOrDefault()?.Text ?? article.Title;

            <div class="card mt-3 custom-card">
                <a href="@Url.Action("Details", "Home", new { id = article.Id })">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@firstImageUrl" class="img-fluid custom-img" asp-append-version="true" />
                        </div>
                        <div class="col-md-8 mt-1">

                            <p><i class="fa-solid fa-box-archive"></i> @article.Category | <i class="fa-solid fa-clock"></i> @article.CreatedAt.ToString("MMM d, yyyy")</p>

                            <h3 class="card-title mt-1">@article.Title</h3>
                            <p>
                                @if (description.Length > 100)
                                {
                                    @description.Substring(0, 100)
                                }
                                else
                                {
                                    @description
                                }
                                ...
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <div class="col-md-4">
        <h3 class="text-white"><b>So'nggi yangiliklar</b></h3>
        @{
            var count = 0;
        }
        @foreach (var article in Model.rightSide.Reverse())
        {
            count++;
            var firstImage = article.Blocks
            .OfType<ImageBlock>()
            .FirstOrDefault()?.ImageFilePath ?? "logo.jpg";
            var firstImageUrl = "~/Images/" + firstImage;
            var description = article.Blocks.OfType<TextBlock>().FirstOrDefault()?.Text ?? article.Title;

            <div class="card mt-3">
                <a href="@Url.Action("Details", "Home", new { id = article.Id })">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@firstImageUrl" class="img-fluid custom-img-right" asp-append-version="true" />
                        </div>
                        <div class="col-md-6 mt-1">
                            @if (article.Title.Length > 80)
                            {
                                <p class="card-title mt-1">@article.Title.Substring(0, 80)</p>
                            }
                            else
                            {
                                <p class="card-title mt-1">@article.Title</p>
                            }
                            <p>@article.CreatedAt.ToString("MMM d, yyyy")</p>
                        </div>
                    </div>
                </a>
            </div>
            if (count == 7)
                break;
        }
    </div>
</div>
