@model HelperViewModel

@{
    Categories? category = ViewBag.Category as Categories?;
    ViewData["Title"] = "Bosh sahifa";
}

<div class="container mt-5 row">
    <div class="col-md-8">             
        <h3 class="text-white">@category</h3>

        @foreach (var item in Model.leftSide.Reverse())
        {
            var photo = "~/images/" + (item.ImageUrl ?? "logo.jpg");

            <div class="card mt-3 custom-card">
                <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@photo" class="img-fluid custom-img" asp-append-version="true" />
                        </div>
                        <div class="col-md-8 mt-1">

                            <p><i class="fa-solid fa-box-archive"></i> @item.Category | <i class="fa-solid fa-clock"></i> @item.CreatedAt.ToString("MMM d, yyyy")</p>

                            <h3 class="card-title mt-1">@item.Title</h3>
                            <p>
                                @if (item.Description.Length > 100)
                                { 
                                    @item.Description.Substring(0, 100)
                                }
                                else
                                {
                                    @item.Description
                                }
                                ...
                            </p>
                        </div>
                    </div>                       
                </a>
            </div>
        }
    </div>

    <div class="col-md-4">
        <h3 class="text-white"><b>So'nggi yangiliklar</b></h3>
        @{
            var count = 0;
        }
        @foreach (var item in Model.rightSide.Reverse())
        {
            count++;
            var photo = "~/images/" + (item.ImageUrl ?? "logo.jpg");
            <div class="card mt-3 ">
                <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@photo" class="img-fluid custom-img-right" asp-append-version="true" />
                        </div>
                        <div class="col-md-6 mt-1">
                            @if (item.Title.Length > 80){
                                <p class="card-title mt-1">@item.Title.Substring(0,80)</p>
                            }
                            else
                            {
                                <p class="card-title mt-1">@item.Title</p>
                            }
                            <p> @item.CreatedAt.ToString("MMM d, yyyy")</p>
                        </div>
                    </div>
                </a>
            </div>
            if (count == 7)
                break;
        }

       
    </div>
</div>