@model IEnumerable<NewsModel>
@{
    Layout = "_AdminLayout";
}

<div class="container mt-5 row">
    <div class="col-md-8">             

        @foreach (var item in Model.Reverse())
        {
            var photo = "~/images/" + (item.ImageUrl ?? "logo.jpg");

            <div class="card mt-3 custom-card">
                <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@photo" class="img-fluid custom-img" asp-append-version="true" />
                        </div>
                        <div class="col-md-8 mt-1">

                            <p><i class="fa-solid fa-box-archive"></i> @item.Category | <i class="fa-solid fa-clock"></i> @item.CreatedAt.ToString("MMM d, yyyy")</p>

                            <h3 class="card-title mt-1">@item.Title</h3>
                            <p>
                                @if (item.Description.Length > 100)
                                {
                                    @(item.Description.Substring(0, 100) +"...")
                                }
                                else
                                {
                                    @item.Description
                                }
                               
                            </p>
                        </div>

                        <div class="col-md-4">
                            <div class="vertical-buttons-container">
                                <!-- Vertical buttons go here -->
                                <a href="#" class="custom-button primary">Link 1</a>
                                <a href="#" class="custom-button secondary">Link 2</a>
                                <a href="#" class="custom-button success">Link 3</a>
                            </div>
                        </div>
                    </div>                       
                </a>
            </div>
        }
    </div>
</div>